body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #2d2d82, #51a8c9);;
  display: flex;
  align-items: center;justify-content: center;
  height: 100vh;
}

.login-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
}

.logo img {
  width: 200px;
  margin-bottom: 20px;
}

h2 {
  color: white;
  margin-bottom: 30px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  outline: none;
  font-size: 16px;
}

.form-group label {
  position: absolute;
  left: 0;
  top: 12px;
  color: white;
  pointer-events: none;
  transition: 0.3s;
}

.form-group input:focus + label,
.form-group input:valid + label {
  top: -10px;
  font-size: 12px;
  color: #ffcc00;
}

button {
  padding: 12px 25px;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: white;
  color: #2d2d82;
}


